.user__header {
	margin-top: 10%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 10%;
	margin-right: 10%;
	font-family: Arial, sans-serif;
}

.user__header__sub__1 {
	flex: 0.2;
}

.user__header__sub__2 {
	flex: 0.75;
}

.user__header__sub__3 {
	flex: 0.15;
}

.user__header__content {
	margin-top: 11%;
}
.user__header__content__sub {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80%;
}

.user__header__content__sub__text {
	font-size: 11px;
	margin-top: 0px;
	font-family: Arial, sans-serif;
}

.user__header__content__text {
	margin-top: 16%;
	font-size: 1rem;
	font-family: Arial, sans-serif;
	margin-bottom: 0px;
	font-weight: bold;
}

.orange {
	color: orange;
}

.user__header__sub__3 {
	margin-top: 10%;
	display: flex;
	justify-content: center;
	color: purple;
	cursor: pointer;
	font-size: 22px;
	/* margin-left:5%; */
}

.user__header__sub__3:onhover {
	color: orange;
}
